body{
	background-color: #b2b2b2;
	font: 11px Verdana;/*шрифт для контента body*/
	color: #696969;/*цвет шрифта для контента body*/
}

#wrapper{
	width: 650px;/*фиксированная ширина контента блока обвертки*/
	outline: 1px solid #cccccc;/*служебная рамка*/
	padding: 0; /*padding(отступ до контента в блоке от края блока) 0px с каждой стороны*/
	margin: 30px auto;/*выравняли по центру внутри body(0-сверху-снизу auto-слева-вправа (обходим начиная сверху по часовой) */
	background-color: #f4f4f4;
}

#header{
	height: 75px;/*задали высоту кот измерили в макете(ширину не задали-пусть займет всю возможную внутри дива-обвертки)*/
	background-image: url("../images/redHeader.png");
	background-repeat: no-repeat;/*прописали на всякий случай*/
	position: relative;/*прописали position: relative- этот блок приподнялся и стал парить, но нижележащие блоки не поднялись под этот парящий блок(если бы прописали position: absolute- то нижележащие блоки поднялись без обтекания контента) тк мы не задали отступов то этот блок остался на своем месте- только приподнялся. Мы это сделала для того, чтобы спозиционировать картинку button, которая находится внутри этого блока, относительно этого блока. ТК будет действовать правило- если блоку заданно position: relative то элементы внутри этого блока с тоже заданным position: ... позиционируются относ этого блока а не угла браузера*/
}

#button{/*нам надо спозиционировать эту картинку относ. блока в кот она находится, а не угла браузера. для этого блоку задали position: relative а этой картинке задали position: absolute и подвигали ее с пом. left: и top: */
	position: absolute;
	left: 294px;/*замерили линейкой*/
	top: -14px;/*отрицат. значение чтобы выступила за гараницы родительского блока*/
	z-index: 1;
}

#bird{
	position: absolute;/*картинка приподнимется и будет парить, (под нее поднимется нижележащий контент(в этом случае другой контент отсутствует) без обтекания контентом-- тк это абсолютное позиционирование)*/
	left: 272px;/*замерили линейкой(позиционируется относ родит блока #header(а не относ угла браузера) тк в нем задан position: relative*/
	top: -3px;/*отрицат. значение чтобы выступила за гараницы родительского блока*/	
	z-index: 2;/*чтобы хвост птицы был сверху кнопки button у которой мы задали z-index: 1*/
}

#content{
	padding: 20px 30px;/*отступ для собственного контента блока #content*/	
}

#new{
	position: absolute;/*картинка приподнимется и будет парить, под нее поднимется нижележащий контент без обтекания контентом-- тк это абсолютное позиционирование*/
	top: 0px;/*тк указан absolute - картинка будет позиционироваться от угла браузера, те она уже не зависит от тега <div> в которм находится и не влияет на его остальной контент*/
	left: 0px;
}

#container{/*мы создали новый контейнер <div id="container"> и задали ему абсолютное позиционирование(относит окна браузера). Потом поместили(сдублировали-скопировали) в этот контейнер нашу картинку new(которая тоже имеет абсолютное позиционирование(относит окна браузера) и находится в лев-верх углу относ браузера). ПРАВИЛО: если объект с абсолютным позиционированием помещается в другой объект у кот. тоже заданно абсолютное позиционирование - то внутренний объект начинает позиционироваться относ(абсолютно) внешнего а не угла браузера*/
	position: absolute;
	width: 300px;/*это настройки самого нового контейнера <div id="container">*/
	height: 240px;
	background-color: #fadec9;
	right: 0;
	top: 0;
}

#operator{/*блок с сылкой с якорем-картинкой, фиксированной при скроллинге тк position: fixed */
	position: fixed;/*блок приподнимется и будет на одном месте зафиксирован при скроллинге*/
	width: 22px;/*по размеру картинки*/
	height: 180px;/*по размеру картинки*/
	top: 250px;/*при position: fixed позиционируется всегда от угла браузера(не зависит от того- указанно ли в родительском блоке position: absolute или position: relative)*/
	left:0;
}

#operator img{/*правило для любых картинок в блоке с id="operatop"*/
	border: none;/*правило-без рамок если браузер сам их добавит для обозначения ссылки*/
}

#test1{
visibility: hidden;	/*скрыли элемент и его место осталось на странице пустым*/
}

#test2{
display: none;/*скрыли элемент и его место удалилось на странице -те нижележащ. элементы его заняли*/
}


/*lipsum.com  ----------- генератор контента*/
/*свойство position нельзя использовать одновременно со свойством float(плавающие элементы) */

	