#wrapper{
	width: 800px;/*фиксированная ширина контента блока обвертки*/
	outline: 1px solid #cccccc;/*служебная рамка*/
	padding: 10px; /*padding(отступ до контента в блоке от края блока) 10px с каждой стороны*/
	margin: 0 auto;/*выравняли по центру внутри body(0-сверху-снизу auto-слева-вправа (обходим начиная сверху по часовой) */
}

#header{
	height: 77px;/*задали высоту кот измерили в макете(ширину не задали-пусть займет всю возможную внутри дива-обвертки)*/
	background-color: #f8ac18;/*задали цвет фона измерив его в макете с пом колормании*/
	margin-bottom: 12px; /*задали отступ снизу*/
}

#sidebarL{
	/*height: 77px;/*задали высоту кот измерили в макете(ширину не задали-пусть займет всю возможную внутри дива-обвертки)*/
	/*убрали высоту когда добавили контент чтобы контент не выходил снизу из блока*/
	background-color: #ebebeb;/*задали цвет фона измерив его в макете с пом колормании*/
	margin-bottom: 12px; /*задали отступ снизу*/
	width: 150px;/*уменьшили ширину блока(отведенного под меню)(для плавающего блока обязат указ ширину)*/
	float: left;/*этот блок вышел из потока-приподнялся и сдвинулся влево. теперь нижний блок займет его место под ним*/
}

#sidebarR{
	/*height: 77px;/*задали высоту кот измерили в макете(ширину не задали-пусть займет всю возможную внутри дива-обвертки)*/
	/*убрали высоту когда добавили контент чтобы контент не выходил снизу из блока*/
	background-color: #ebebeb;/*задали цвет фона измерив его в макете с пом колормании*/
	margin-bottom: 12px; /*задали отступ снизу */
	width: 150px;/*уменьшили ширину блока(отведенного под меню)(для плавающего блока обязат указ ширину)*/
	float: right;/*этот блок вышел из потока-приподнялся и сдвинулся вправо. теперь нижний блок займет его место под ним*/
}

#content{/*этот блок располагается между блоками sidebarL и sidebarR и margin-left-ом отталкивается от блока wrapper-а*/
	/*height: 77px;/*задали высоту кот измерили в макете(ширину не задали-пусть займет всю возможную внутри дива-обвертки)*/
	/*убрали высоту когда добавили контент чтобы контент не выходил снизу из блока*/
	background-color: #c5161d;/*задали цвет фона измерив его в макете с пом колормании*/
	margin-bottom: 12px; /*задали отступ снизу (margin:0 auto 12px auto  --- так тоже самое будет если 2 margin объединит )*/
	width: 480px;
	margin-left: 160px;
}

#footer{
	height: 77px;/*задали высоту кот измерили в макете(ширину не задали-пусть займет всю возможную внутри дива-обвертки)*/
	background-color: #111111;/*задали цвет фона измерив его в макете с пом колормании*/
	margin-bottom: 12px; /*задали отступ снизу*/
}

.clear{/*контент из парящих блоков может нависать над нижележащими блоками и закрывать их. чтобы этого небыло надо запретить нависание над нижележащими блоками, тогда они будут сдвигаться вниз страници. для этого используем св-во clear: both; (both означает что мы запрещаем нависание над нижележащим блоком  как слева так и справа) дадим этот класс с этим свойством специально-созданному для этого блоку <div> */
	clear: both;
	outline: 3px solid #cccccc;/*служебная рамка*/
}


/*lipsum.com  ----------- генератор контента*/

	