body{
	background-color: #b2b2b2;
	font: 11px Verdana;/*шрифт для контента body*/
	color: #696969;/*цвет шрифта для контента body*/
}

#wrapper{/*обертка*/
	outline: 1px solid #cccccc;/*служебная рамка*/
	padding: 0; /*padding(отступ до контента в блоке от края блока) 0px с каждой стороны*/
	margin: 30px auto;/*выравняли по центру внутри body(0-сверху-снизу auto-слева-вправа (обходим начиная сверху по часовой) */
	background-color: #f4f4f4;
	height: 520px;/*на 20 рикселей выше чем его контент*/
	
	min-width: 650px;/*нашей обертки задали минимальную ширину- если сужать браузер то на этой ширине появится полоса прокрутки и дизайн страници не посыпится*/
	
	max-width: 1100px;/*ограничение ширины обертки по макс значению для широких мониторов*/
}

#sidebarL{
	width: 200px;
	height: 500px;
	float: left;/*парит и прижался влево*/
	outline: 1px solid #cc0000;/*служебная рамка*/
	margin: 10px 10px;
}

#sidebarR{
	width: 200px;
	height: 500px;
	float: right;/*парит и прижался вправо*/
	outline: 1px solid #cc0000;/*служебная рамка*/
	margin: 10px 10px;
}

#content{
	height: 500px;
	margin: auto 220px;
	outline: 1px solid #333333;/*служебная рамка*/
}















/*lipsum.com  ----------- генератор контента*/


	