body{
	font: Verdana, sans-serif;/*для всей страницы задали шрифт Verdana, а если его не будет-то любой из sans-serif */
	color: #333333;		/*но этот шрифт не наследуется для текстовых областей */
}

#wrapper {
	width: 500px;
	margin: 0 auto;/*чтобы форма посередине экрана была */
}

.question{/*создали класс чтобы задавать текстам жирность */
	font-weight: bold;
}

fieldset{/*доработаем декоративное обрамление */
padding: 10px;
margin: 10px;/*выровняли с пом отступов */
border: 1px solid #cccccc;
background-color: #FCFCFC;	
}

textarea {/*доработаем текстовую область */
border: 1px solid #333333;
background-color: #f4f9ff;
width: 480px;/*жесткое значение ширины-480 тк в fieldse заданы  margin: 10px; а полная ширина <div #wrapper> = 500 */
margin: 2px 10px;/*выровняли с пом отступов со всех сторон */
font: 12px Verdana;	/*прописали, тк от боди шрифт текстовые поля не наследуют*/
padding: 0 7px;	/*отступ типа красной строки задали- ноль сверху и снизу и 7 слева и справа*/	
}

textarea:focus{/*задали то что будет происходить с тегом textarea в момент фокуса- щелчка мышки по полю ввода*/
border: 2px solid #1351b4;/*изменится рамка */	
background-color: #ffffff;	/*появится фоновый цвет*/	
}

.tp{ /* параграф "Поделитесь своими наработками в текстовой области" сдвинули-выравняли*/
margin-left: 10px;	
}

.input{/*этот класс для оформления полей-ввода текста имени и пароля */
border: 1px solid #333333;/*задали им рамку */
height: 27px;/*чуть увеличили высоту поля */
line-height: 27px;	/*прописали для интернет-эксплоэра чтобы курсор в текстов области был размером с высоту этой области*/	
width: 270px;/*чуть увеличили ширину поля */	
background-image: url("../images/inputbg.jpg");/*на задний фон положили картинку */
background-repeat: repeat-x;/*картинку растирожировали по оси х */	
font: 12px Verdana;	/*прописали, тк от боди шрифт текстовые поля не наследуют*/
padding: 0 7px;	/*отступ типа красной строки задали- ноль сверху и снизу и 7 слева и справа*/
}

.input:focus{/*задали то что будет происходить с классом input в момент фокуса- щелчка мышки по полю ввода*/
border: 2px solid #1351b4;/*изменится рамка */	
background-image: none;/*удалится фоновый рисунок */
background-color: #ffffff;	/*появится фоновый цвет*/
}

label{/*для всех label при наведении мышкой стрелочка превращается в руку*/
cursor:pointer;
}








