/* p, h4, #myList {color:#404040;}
p{
font-family: Verdana, Tahoma, "Arial Black", sans-serif;	
font-size: 12px;
text-indent: 30px; /*красная строка*/
/* line-height: 20px; /*межстрочный интервал.	можно задать множителем к размеру шрифта*/
/* word-spacing: 12px;	/*расстояние между словами*/
/* letter-spacing:	3px; /*расстояние между буквами не сработало*/
/* }
#header{   /*индекс*/
/*color:#c32017;   
text-align: center;
text-transform: uppercase; /*все буквы в верхнем регистре*/
/*border-top-width: 2px;/*параметры рамки- можно без top, можно для низа bottom...левой правой */
/*border-top-style: solid;/*также можно исп укороч запись*/ 
/*border-top-color: #faa21a	
}
.new{   /*класс*/
/*color:#6be5c3;
/*font:italic bold 16px/20px Tahoma;  /*укороченная запись определения шрифта 16-размер 20- межстрочный интервал*/
/*}
#bt p a{
color:#cc0000;	
}
a:link{
	color: #111111; /*цвет ссылки*/ 
}
/*a:visited{
	color: #faa21a; /*цвет посещенной ссылки*/
/*}
a:hover{
	color: #800000; /*цвет при переходе?*/
/*}
a:active{
	color: #008000; /*цвет при нажатии*/
/*}
.new2{
font-style: italic; /*курсив*/
/*}
/*.new3{
font-weight: bold; /*жирный*/
/*text-decoration: underline; /*подчеркивание. можно зачеркнуть*/
/*}
a{
text-decoration: none; /*ссылка без дефолтного подчеркивания*/
/*border-bottom: 1px dashed #C32017;/*ссылки будут подчеркнуты пунктиром*/
/*color: #333333;	/*ссылки будут серые*/
/*}
.new4{
text-align: justify;	/*строки растянуты на весь экран за счет увелич пробелов*/
/*}
ul{/*правила для списка*/
/*list-style-type: upper-roman; */     /*вместо точечек латинские цифры*/
/*list-style-image:url("../images/arrow.png");/*или вместо точечек картинка (../-вышли из папки css, и зашли в images/arrow.png) */
/*list-style-position:inside;	/* картинка будет внутри рамки, которую мы создали в предидущем селекторе */
	/* можно эти 2-а свойства записать кратко list-style:... см. схему сокращений css  */	
/*}
/*ul li{   */   /*правила для всех элементов li списка ul*/
/*  border: 1px solid #cccccc;   */
/*   }   */


/* про наследование табличка Specification: http://www.w3.org/TR/CSS21/   */
 /* исключение: на заголовки и ссылки некоторые родительские установки могут не действовать  */


#idForBody{
/*font: 14px Tahoma #333333;   /* почемуто для  <body> мазилла не видит свойства width и border а ставит свои значения*/
/*border: 2px solid #FC0509;   /* но в главном #maneDiv (который внутри боди- вместо боди- получается он...) все работает */
width: 1200px;
padding: 0px;
margin: 0px auto 0 auto;
background-color: #ffffff;	
}



#maneDiv{
border: 2px solid #111111;
width: 1000px;/* ширина для всего контента страницы. те для главного блока #maneDiv вся эта страница это его контент */
padding: 15px;/* будет зазор от границы главного блока див до его внутреннего содержимого*/
margin: 0px auto 0 auto;/* автоматическое выравнивание относительно <body> тк этот #maneDiv внутри <body>*/	
	background-color: #ffffff;
}




p{
text-indent: 30px;
/*border: 1px solid #FAA21A;*/	
}
#header{ 
text-align: center;
text-transform: capitalize; 
/*border-top: 2px solid #FAA21A;*/
border: 4px solid #FAA21A;
padding: 20px 40px; /* обходим (верх-низ) (лево-право)   */
margin: 20px auto 20px auto;	 /* обходим по часовой (верх-право-низ-лево) auto-для центрирования внутри внешнего блока  */
width: 650px;/* ширина именно содержимого контента   */
/*height: 100px;/* высота именно содержимого контента   */
overflow: visible;	/* это что делать браузеру если контент не поместился в заданные width: и height:- можно прокрутить... */
background-color: #cc0000;/* задали цвет фона */
color: azure;	/* задали цвет букв */
}
.new2{
font-style: italic;
}
.new3{
font-weight: bold;
text-decoration: line-through; 
}
a{
text-decoration: none; 
/*border-bottom: 1px dotted #C32017;*/
}
.new4{
text-align: justify;	
}
ul{
    list-style-image: url("../images/arrow.png");
   /* color: #C32017;/*красный */
}


li{
color: #FAA21a;	/*золотистый 1 бал приоритета*/
/*border: 1px solid #CC0000	*/
}
#span1{
	border: 1px solid;
	padding: 0 30px;/*у встроенных элементов(span, em, a)(не блочных) нет верхних и нижних отступов(padding-ов и margin-ов)*/
	margin: 0 30px;/*если прописать верхние и нижние значения, то результата не будет*/
	
	/*display: block;/*перевели встроенный элемент в блочный, то он занял всю строку*/
}

.new6{
color: #97AD34;	/*зеленый 10 балов приоритета*/
}
#liSuper{
color: #56AEF3;	/*синий 100 балов приоритета*/
}
/*те там где есть #myList +  там где есть li + там где есть .new6 */
#myList li .new6{
color: #400000;	/*шоколадный 111 балов приоритета */
}
/*элемент обычно берет цвет от ближайшего родителя*/
/*но если для самого элемента заданы параметры разными способами- */
/*то действует таблица приоритетов стилей:*/
/*Селектор тегов- 1 бал*/
/*Селектор классов- 10 балллов*/
/*Селектор id # - 100 баллов*/
/*Стиль, встроенный в html код - 1000 баллов напр: style="color: #97057F" в теге прописано если*/

ol li{
	display: inline;/*все блочные теги li, которые внутри ol, превратили во встроенные элементы*/
	border: 1px solid #333333/*это надо когда из списка делаем навигацию, список-встолбик превращаем в строку*/
}

table, td, th{
border: 1px solid #cccccc;	/*вокруг таблицы и всех ее элементов сделали рамки*/
text-align: center;/*выравняли содержимое ячеек по центру*/
}
table{
width: 700px;	/*расширили-растянули таблицу по ширинедо 700 пикселей*/
border-collapse:collapse;/*схлопнули бордюрчики ячеек- чтобы они одной линией разделялись*/
margin: 25px auto;/*тк ширина заданна- выравняли таблицу по горизонтали*/
}
td, th{
height: 50px; 	/*расширили-растянули ячейки по высоте до 50 пикселей*/
padding: 5px;	/*сделали "красную строку" для содержимого ячеек*/
vertical-align:middle;	/*еще выравнивание по вертикали можно исспользовать*/
background-color: #ffffff;	
}
th{
background-color: #FAEA5F;  /*покрасили заголовки таблицы*/
background-image:url("../images/tablebg.jpg");	
}
td {
background-color: #ffffff;	/*покрасили строки таблицы*/
}
tr.blue td{/*возьмем во всех тегах tr, помеченные классом blue встроенные(внутренние) тэги td*/	
background-color: #E5ED4A;	/*перекрасили каждую четную строку*/	
}/*то класс используем когда надо прописать путь к внутреннему тегу и не ставим запятые*/



/*float заменяет alight в html то другие блоки начинают обтекать нашу картинку слева*/
/*на самом деле float приподнял нашу картинку на 1 уровень вверх а контент других блоков стал ее обтекать*/
/*причем размер других блоков не изменился- другие блоки проходят под картинкой*/
#myImg{
float: right;
border: none;
margin: 20px 0 20px 50px;	
}








